* {
    font-family: monospace;
}

#gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 16px;
}

.gamecell {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gamecell.open {
    background-color: #99f6e4;
}

.gamecell.open:hover {
    background-color: #2dd4bf;
}

.gamecell.closed {
    background-color: #f0fdfa;
}

.gamecell.closed.win {
    background-color: #0d9488;
    color: #fff;
}

.gamecell .game-mark {
    font-size: 150px;
    padding-bottom: 26px;
}