#gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 16px;
}

.gamecell {
    border-radius: 16px;
}

.gamecell.open {
    background-color: #99f6e4;
}

.gamecell.open:hover {
    background-color: #2dd4bf;
}

.gamecell.closed {
    background-color: #f0fdfa;
}

